/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main_font: IBM Plex mono, monospace;
  --main_font_size: 18px;
  --main_font-weight: 700;
  --main_line-height: 23.4px;
  --text_font-weight: 400;
  --main_text_color: #f1b2ce;
  --background_image: url("../images/cover-image-dark.png");
  --background_color: #000028;
  --accent_color: #ff0070;
  --button_hover_color: #ff007066;
  --h1_accent_color: #db00ff;
  --h1_font_size: 116px;
  --h1_line-height: 95.7px;
  --h1_font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
